.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.container {
  max-width: 730px; margin-top: 30px;
}

img {
  height: 50px;
  width: 50px;
  margin:0 20px 10px 0;
  border-radius:50px;
  border-radius:100%;
}
