{% extends "layout.html" %}
{% block content %}
<div class="container" style="max-width: 730px; margin-top: 30px;">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Nome</th>
      <th>Ações</th>
      <th>Token</th>
    </thead>
    <tbody>
      {% for login in logins %}
        <tr>
          <td>{{login.uid}}</td>
          <td>{{login.name}}</td>
          <td>
            <a href="{{url_for('implicit', token=login.token)}}">Acessar</a>
          </td>
          <td>{{login.token}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
