{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if not  user %}
      <h1>Bem Vindo</h1>
    {% else %}
      <h1>Olá {{user.name}}</h1>
    {% endif %}
    <p class="lead">Exemplo de aplicação que utiliza o OAuth para autenticar usuários e realizar login.</p>
    {% if not  user %}
      <p><a class="btn btn-lg btn-success" href="{{ url_for('login') }}" role="button">Login</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
