<!doctype html>
<head>
<title>Apptz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="container" style="border-bottom: 1px solid #ddd;">
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% if user %}
            <li><img src="{{user.profile_photo()}}"></li>
            {% endif %}
            <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
            {% if user %}
                <li role="presentation"><a href="{{ url_for('logout') }}">Sair</a></li>
              {% else %}
              <li role="presentation"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Apptz</h3>
      </div>
  </div>
{% block content %}{% endblock %}
</body>
</html>
